@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100dvh;
}

html {
  font-size: 16px;
  color: #404040;
  word-spacing: 1px;
  letter-spacing: 0.1rem;
  line-height: 1.9;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fefefe;
  font-family: "Noto Sans JP", serif;
}

body {
  padding-top: var(--safe-area-inset-top);
  margin: 0;
}
